<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .form-group {
            width: 80%;
        }
        .btn {
            margin-top: "30px";
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>Poomkey App</title>
</head>

<body align="center">
    <a href="/"><h2>Welcome To PoomkeyPoomkey!</h2></a>
    <div>
        <table class="table">
            <!-- if session != null 회원가입, 로그인 없애기 -->
            <tr><button type="submit" class="btn btn-primary" onclick="location.href='/user/signup'">회원가입</button></tr>
            <tr><button type="submit" class="btn btn-primary" onclick="location.href='/user/login'">로그인</button></tr>
            <tr><button type="submit" class="btn btn-primary" onclick="location.href='/keys'">제품 키 전체 조회</button></tr>
            <tr><button type="submit" class="btn btn-primary" onclick="location.href='/key'">제품 키 등록</button></tr>
            <tr><button type="submit" class="btn btn-primary" onclick="location.href='/keys/owner'">제품 키 조회</button></tr>
            <!-- <tr><button type="submit" class="btn btn-primary" onclick="location.href='/changeOwnerKey.html'">제품 키 소유권 이전</button></tr> -->
        </table>
    </div>
</body>
</html>